body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header{
    text-align:center;
    color: blueviolet;
      
}

.container{
    width:50%;/* 60% of default view port of screen */
    margin: auto; /*To place card in center of screen */
    border: 10px dashed white;
    padding:10px 40px;
    background-color: blueviolet;
    color:white;
}

h2{
    text-decoration: underline;
}

img{
    border: 2px solid white;
    width:100%;
}







